*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    color: #000;
    font-family: 'Inter', arial;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}
.title{
    font-size: 2rem;
}

.proposals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.proposal{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.proposal__upper-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.proposal__name{
    font-weight: normal;
    font-size: 1.4rem;
}

.proposal__time{
    font-size: 1.2rem;
}

.proposal__image{
    min-width: 300px;
    min-height: 200px;
    object-fit: cover;
}

.proposal__category{
    border-radius: 10px;
    background-color: #6458e4;
    display: inline-block;
    color: #fff;
    max-width: 10rem;
    font-size: 1.2rem;
    padding: 2px 10px;
}

.proposals-counter{
    font-size: 1.5rem;
}